body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto
}

a:link {
  text-decoration: none;
  border: 0;
  -moz-outline-style: none;
  outline: 0
}

a:visited {
  text-decoration: none;
  border: 0;
  -moz-outline-style: none;
  outline: 0
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  border: 0;
  -moz-outline-style: none;
  outline: 0
}

a:active {
  text-decoration: none;
  border: 0;
  -moz-outline-style: none;
  outline: 0
}

a:focus {
  text-decoration: none;
  border: 0;
  -moz-outline-style: none;
  outline: 0
}

p {
  margin: 0;
  padding: 0;
  color: #424242
}

.text {
  text-align: justify
}

.ultext li {
  color: #9e9d24
}

li {
  color: #bdbdbd
}

.MathJax_ref {
  color: #827717
}

.page-content {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  float: middle
}

#page-content-simulation-tool {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  float: middle
}

.animation-card {
  width: 512px;
  margin-bottom: 40px
}

#animation-container {
  border-color: #8d6e63;
  border-style: solid;
  border-width: 0
}

.animation-setting-card {
  width: 256px;
  margin-bottom: 40px
}

#list-panel {
  overflow-y: scroll;
  height: 312px
}

#animation-video-title {
  width: 100%;
  height: 30px;
  text-align: center;
  border-bottom: 1px #e0e0e0 solid;
  vertical-align: middle;
  padding-top: 5px
}

#animation-video-control {
  width: 500px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px
}

#animation-video-control div {
  display: inline
}

.video-control-k {
  font-style: normal
}

#time {
  white-space: nowrap;
  vertical-align: middle;
  font-size: 16px
}

.settings-tab {
  padding-left: 10px;
  padding-right: 10px;
  width: 25%
}

.configList {
  cursor: pointer
}

.panelTitle {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 0
}

.panelTitleHalf {
  display: inline;
  width: 128px;
  text-align: center;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 0
}

.panelValueInput {
  display: inline-block;
  width: 25%
}

#potential-panel-selection {
  background: transparent;
  margin-top: -15px;
  text-align: center;
  width: 200px;
  margin-left: 28px
}

.displayNone {
  display: none
}

#potential-panel-content-title {
  width: 200px;
  margin-left: 28px;
  margin-top: -5px
}

#potential-panel-content-config {
  margin-top: 40px;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto
}

.panelPotValueInput {
  display: inline-block;
  width: 40%
}

#animation-container-information {
  position: absolute;
  width: 100%;
  display: none;
  height: 100%;
  background: #f0f4c3;
  z-index: 42
}

#animation-container-share-content {
  position: absolute;
  width: 100%;
  display: none;
  height: 100%;
  background: #fff8e1;
  z-index: 43
}

#info-panel-legende, #info-panel-einstellungen, #info-panel-berechnung {
  padding: 0
}

.show-tablet {
  display: none
}

.hide-smartphone {
  display: inline-block
}

@media only screen and (max-width:839px) {
  .hide-tablet {
    display: none
  }
  .show-tablet {
    display: inline-block
  }
  #animation-video-title {
    padding-top: 0
  }
}

@media only screen and (max-width:530px) {
  .hide-smartphone {
    display: none
  }
  #animation-video-control {
    width: 220px;
    text-align: center;
    padding-left: 18px;
    margin-top: 5px
  }
}

span.reverse {
  unicode-bidi: bidi-override;
  direction: rtl
}
